{% load i18n %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ app_verbose_name }}</title>
    </head>

    <body>
        {% comment %} <pre>{{ form.as_table }}</pre> {% endcomment %}
        <form method="post" action="">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit Form"/>
        </form>
    </body>
</html>